
/* ====================================================================
                                RESET
=====================================================================*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ====================================================================
                                Body
=====================================================================*/

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

input {

    width: 200px;
    margin-block: 10px;
    padding-block: 5px;
    text-align: center;
}
label {
    color: white;
    font-size: 20px;
}

button {
    width: 200px;
    padding-block: 5px;
    margin-left: 60px;
}

h2 {
    margin-right: 80px;
    margin-block: 20px;
    color: white;
    
}

h3 {
    color: white;
    font-size: 30px;
    padding-block: 10px;
    margin-left: 60px;
}